<html>
<head>
    <title>Profil du joueur - TournoiPedia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-links">
                <a href="connexion.html">Connexion</a>
                <a href="inscription.html">Inscription</a>
            </div>
            <div class="nav-links">
                <a href="/search">Recherche</a>
                <a href="/create-team">Créer une équipe</a>
                <a href="/create-tournament">Créer un tournoi</a>
            </div>
        </div>
    </header>
    <div class="player-profile">
        <h2 id="player-name">Profile</h2>

        <h3>Informations personnelles</h3>
        <p>Nom d'utilisateur :  <span id="player-username">-</span></p>
        <p>Date de naissance :  <span id="player-ddn">-</span></p>
        <p>Pays :  <span id="player-country">-</span></p>
        <p>Contact :  <a id="player-email" href="#">-</a></p>

        <h3>Équipe</h3>
        <p>Équipe actuelle : <span id="player-team">Non attribué</span></p>

        <h3>Tournois participés</h3>
        <p>Aucun tournoi enregistré</p>

        <h3>Statistiques</h3>
        <p>Matchs joués : <span id="matches-played">0</span></p>
        <p>Matchs gagnés : <span id="matches-won">0</span></p>
    </div>
</body>
</html>
